extends ../templates/layout
block vars
  - var bodyClass = 'administer'
block content
  include ../partials/_adbanner
  include ../partials/_nav
  section.container
    .wrapper
      .paragraph-info
        h1 Förvalta ditt företag
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .container-shortcut
        .row-shortcut
          a(href='#').shortcut
            | Färdiga dokument
          a(href='/administer/find-consultant.html').shortcut
            | Sök konsulttjänster
      .sidebar
        .content-sidebar
          h5 Tillgängliga konsultjobb
          ul.list-sidebar
            li
              a(href='#') Konsultjobb 1
            li
              a(href='#') Konsultjobb 2
            li
              a(href='#') Konsultjobb 3
          a(href='/administer/find-consulting-jobs.html').button.right Mer
  include ../partials/_footer