$item-border-color: #E3E3E3

.container-grid
  +span-columns(12)

.item-grid-half
  +span-columns(12)
  margin-bottom: 15px

  +media($large-screen)
    +span-columns(6)

  border: 1px solid $item-border-color
  padding: 1em

  header
    +span-columns(12)

  &:nth-child(2n+2)
    +media($large-screen)
      margin-right: 0