$wrapper-padding: 20px

.wrapper
  +outer-container
  padding-top: 2em
  padding-left: $wrapper-padding
  padding-right: $wrapper-padding

.container
  padding-bottom: 5em

.paragraph-info
  +span-columns(12)

  +media($medium-screen)
    +span-columns(9)

  +media($large-screen)
    +span-columns(7)

.row
  +row

.right
  float: right