.row-search-results
  padding-top: 2em

.container-search-criterias
  +span-columns(12)
  background-color: $primary-background-color

  +media($large-screen)
    +span-columns(3)

.search-criterias
  margin-top: 1em

.container-search-results
  +span-columns(12)

  +media($large-screen)
    +span-columns(9)