.container-shortcut
  +span-columns (12)

  +media($medium-screen)
    +span-columns(3)

  +media($large-screen)
    +span-columns(2)

  text-align: center

.shortcut
  +span-columns(6)

  +media($medium-screen)
    +fill-parent

  display: block
  margin-bottom: 2em
  font-size: 1.2em
  font-weight: 700

.icon
  margin-left: auto
  margin-right: auto
  height: 70px
  width: 70px
  border-radius: 35px
  background-color: desaturate($green, 20)
  margin-bottom: 0.5em