block footer
footer
  .footer-menu
    a.logo(href='/')
      img(src='../public/images/oppstore_logo.svg', alt='')
    .container-menu
      ul
        li.main-page
          a(href="#") Utveckla
        li
          a(href="#") Färdiga affärsdokument
        li
          a(href="#") Sök kapital
        li
          a(href="#") Sök partnerföretag
      ul
        li.main-page
          a(href="#") Avveckla
        li
          a(href="#") Färdiga affärsdokument
        li
          a(href="#") Likvidera företag
        li
          a(href="#") Sälj inventarier
      ul
        li.main-page
          a(href="#") Förvärva
        li
          a(href="#") Färdiga affärsdokument
        li
          a(href="#") Företag till salu
        li
          a(href="#") Inventarier till salu
      ul
        li.main-page
          a(href="#") Förvalta
        li
          a(href="#") Färdiga affärsdokument
        li
          a(href="#") Konsulttjänster
    .container-disclaimer
      hr
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe. Rerum, nostrum repudiandae saepe.