block footer
footer
  .footer-menu
    a.logo(href='/')
      img(src='../public/images/oppstore_logo.svg', alt='')
    .container-menu
      ul
        li.main-page
          a(href="/develop/index.html") Utveckla
        li
          a(href="/documents.html") Färdiga affärsdokument
        li
          a(href="/develop/findinvestors-part-1.html") Sök kapital
        li
          a(href="/develop/findpartner-part-1.html") Sök partnerföretag
      ul
        li.main-page
          a(href="/liquidate/index.html") Avveckla
        li
          a(href="/documents.html") Färdiga affärsdokument
        li
          a(href="/liquidate/liquidate-company-part-1.html") Likvidera företag
        li
          a(href="/liquidate/sell-inventory") Sälj inventarier
      ul
        li.main-page
          a(href="/acquire/index.html") Förvärva
        li
          a(href="/documents.html") Färdiga affärsdokument
        li
          a(href="/acquire/find-company.html") Företag till salu
        li
          a(href="/acquire/find-inventory.html") Inventarier till salu
      ul
        li.main-page
          a(href="/administer/index.html") Förvalta
        li
          a(href="/documents.html") Färdiga affärsdokument
        li
          a(href="/administer/find-consulting-jobs.html") Konsulttjänster
    .container-disclaimer
      hr
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe. 
        a(href="/about.html") Lär dig mer om Oppstore.