block footer
footer
  .footer-menu
    .container-menu
      ul
        li.main-page
          a(href="#") Huvudsida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
      ul
        li.main-page
          a(href="#") Huvudsida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
      ul
        li.main-page
          a(href="#") Huvudsida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
      ul
        li.main-page
          a(href="#") Huvudsida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida
        li
          a(href="#") Undersida