header.navigation.mobile
  .navigation-wrapper
    a.logo(href='/')
      img(src='../public/images/oppstore_logo.svg', alt='')
    a#js-mobile-menu.navigation-menu-button(href='') Meny
    .nav
      ul#navigation-menu
        .search-bar
          .search-and-submit
            input(type='search', placeholder='Sök')
            button(type='submit')
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png', alt='')
        li.mobile-nav-link.develop.more
          a.more(href='javascript:void(0)') Utveckla
          ul.submenu
            li
              a(href='#') Färdiga affärsdokument
            li
              a(href='/findinvestors.html') Sök kapital
            li
              a(href='#') Sök partnerföretag
        li.mobile-nav-link.liquidate.more
          a(href='javascript:void(0)') Avveckla
          ul.submenu
            li
              a(href='#') Färdiga affärsdokument
            li
              a(href='#') Sälj &amp; likvidera företag
            li
              a(href='#') Sälj inventarier 
        li.mobile-nav-link.acquire.more
          a(href='javascript:void(0)') Förvärva
          ul.submenu
            li
              a(href='#') Färdiga affärsdokument
            li
              a(href='#') Hitta företag till salu
            li
              a(href='#') Hitta inventarie till salu
        li.mobile-nav-link.administer.more
          a(href='javascript:void(0)') Förvalta
          ul.submenu
            li
              a(href='#') Färdiga affärsdokument
            li
              a(href='#') Konsulttjänster
        li.mobile-nav-link
          a.user(href='profile.html') Logga in

  //- .tool-menu
  //-   ul
  //-     li
  //-       a(href='#') Steg 1
  //-     li
  //-       a(href='#') Steg 2
  //-     li.active-nav-item
  //-       a(href='#') Steg 3

header.navigation.desktop
  .navigation-wrapper
    a.logo(href='/')
      img(src='../public/images/oppstore_logo.svg', alt='')
    .nav
      .search-bar
        .search-and-submit
          input(type='search', placeholder='Sök')
          button(type='submit')
            img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png', alt='')
      ul#navigation-menu
        li.desktop-nav-link.develop
          a(href='develop.html') Utveckla
        li.desktop-nav-link.liquidate
          a(href='#') Avveckla
        li.desktop-nav-link.acquire
          a(href='#') Förvärva
        li.desktop-nav-link.administer
          a(href='administer.html') Förvalta

      .container-user
        a.user(href='profile.html')
          img(src='../public/images/user.png')
        .container-profile-sub-menu
            .dropdown-button.button-profile-sub-menu
            ul.menu
              li Inställningar
              li Logga ut


  .desktop-sub-menu
    ul
      li
        a(href='#') Färdiga affärsdokument
      li
        a(href='/findinvestors.html') Sök kapital
      li
        a(href='#') Sök partnerföretag

  .tool-menu
    ul
      li
        a(href='findinvestors.html') Steg 1
      li
        a(href='findinvestors-part-2.html') Steg 2
      li
        a(href='findinvestors-part-2.html') Steg 3
      li
        a(href='findinvestors-part-2.html') Steg 4