extends ../templates/layout
block vars
  - var bodyClass = 'liquidate-company'
block content
  include ../partials/_adbanner
  include ../partials/_nav
  section.container
    .wrapper
      .header-tutorial
        h1 Summera och skicka
      .container-tool
        .container-summary
          ul.list-summary
            li Företagsnamn: Företag AB
            li Organisationsnummer: 1122-334455
            li Firmatecknare: Firmá Técknàre
            li Bransch: Företagsbransch
            li Geografi: Kommunnamn
            li Omsättning: 1 000 000
            li Resultat f. skatt: 70 000
            li Likvidationsmetod: Sälj som lagerbolag
      .paragraph-tutorial
        h3 Vad händer nu?
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  section.tool-nav
    a(href='findinvestors-part-3.html').button.button-tool-nav Föregående steg
    a(href='#').button.button-tool-nav.next Lägg upp
  include ../partials/_footer