extends ../templates/layout
block vars
  - var bodyClass = 'find-investor'
block content
  include ../partials/_adbanner
  include ../partials/_nav
  section.container
    .wrapper
      .header-tutorial
        h1 Att välja en finansiör
      .paragraph-tutorial
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .container-tool
        form
          fieldset
            h5 Välj finansiör
            .container-input
              label
                input(type="radio" class="radio" name="radio_button" value="radio_1")
                | Bank
              label
                input(type="radio" class="radio" name="radio_button" value="radio_2")
                | Privat
              label
                input(type="radio" class="radio" name="radio_button" value="radio_3")
                | Offentlig
  section.tool-nav
    button(type='button' disabled='disabled').button.button-tool-nav Föregående steg
    a(href='findinvestors-part-2.html').button.button-tool-nav.next Nästa steg
  include ../partials/_footer