extends ../templates/layout
block vars
  - var bodyClass = 'find-investor'
block content
  include ../partials/_adbanner
  include ../partials/_nav
  section.container
    .wrapper
      .header-tutorial
        h1 Summera och skicka
      .container-summary
        .container-summary-businessplan
          ul.list-summary
            li Finansiör: Bank
            li Bransch: Företagsbransch
            li Kommun: Linköping
            li.
              Beskrivning av företaget: "Lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            li Förnamn Efternamn
            li Personnummer: 19841226-3432
            li.
              Beskrivning av investeringen: "Quat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            li Beräknad investeringskostnad: 1 000 000
        .container-summary-cash-forecast
          .row
            table
              tr
                th
                th Omsättning
                th Resultat f. skatt
                th Antal anställda
              tr
                th År 1
                td 3 234 890
                td 944 126
                td 3
              tr
                th År 2
                td 4 589 234
                td 1 523 894
                td 4
              tr
                th År 3
                td 6 348 849
                td 1 254 932
                td 6
          .row
            .container-canvas
              canvas#cashForecast
      .row
        .paragraph-tutorial
          p.
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          p.
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        .container-tool
          form
            fieldset
              h5 Skicka kapitalansökan
              .container-input
                label(for='select_element1') Bank:
                  select(name='select_element1')
                    option(value="1") Bank 1
                    option(value="2") Bank 2
                    option(value="3") Bank 3
              .container-input
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_1")
                  | Bank
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_2")
                  | Privat
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_3")
                  | Offentlig
              .container-input
                label
                  input(type="checkbox" class="checkbox" name="checkbox_button" value="checkbox_1")
                  | Skicka endast till min bankman
                label
                  input(type="checkbox" class="checkbox" name="checkbox_button" value="checkbox_2")
                  | Göm företagsinfor från riskkapitalister
  section.tool-nav
    a(href='findinvestors-part-3.html').button.button-tool-nav Föregående steg
    a(href='#').button.button-tool-nav.next Skicka
  include ../partials/_footer