extends ../templates/layout
block vars
  - var bodyClass = 'develop'
block content
  include ../partials/_adbanner
  include ../partials/_nav
  section.container
    .wrapper
      .header-tutorial
        h1 Hitta ett partnerföretag
      .paragraph-tutorial
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        p.
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .container-tool
         form
          fieldset
            h5 Företagsuppgifter
            .container-input
              label(for='text_field1') Företagsnamn:
                input#text_field1(type='text')
              label(for='text_field1') Organisationsnummer:
                input#text_field1(type='text')
              label(for='text_field1') Firmatecknare:
                input#text_field1(type='text')
              label(for='select_element2') Geografi:
                select(name='select_element2')
                  option(value="1") Alternativ 1
                  option(value="2") Alternativ 2
                  option(value="3") Alternativ 3
              label(for='text_area1') Beskriv problemet:
                textarea#text_area1
              .container-input
                label Mötessätt:
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_1")
                  | Offtime (700kr/h)
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_2")
                  | Ontime (1200kr/h)
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_3")
                  | IRL (2000kr/h)
              .container-input
                label För vilka av företagets användare ska detta projekt vara synligt:
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_4")
                  | Endast mig
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_5")
                  | Endast användare av samma nivå
                label
                  input(type="radio" class="radio" name="radio_button" value="radio_6")
                  | Alla

  section.tool-nav
    button(type='button' disabled='disabled').button.button-tool-nav Föregående steg
    a(href='#').button.button-tool-nav.next Nästa steg
  include ../partials/_footer