.container-about
  +span-columns(12)

.image-about
  text-align: center
  +span-columns(12)

  +media($medium-screen)
    +span-columns(4)

  img
    max-height: 250px

.container-paragraph-about
  margin-bottom: 30px
  +span-columns(12)

  +media($medium-screen)
    +span-columns(8)
    margin-bottom: 60px

.paragraph-about
  +span-columns(12)

  +media($large-screen)
    +span-columns(6)